<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">
	  
	<body>
	<div class="container-fluid" layout:fragment="conteudo">
		<div class="row bg-title">
			<!-- .page title -->
			
			<!-- .breadcrumb -->
                  <div class="col-lg-5 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/evento/meus_eventos}">Meus Eventos</a></li>
                        <li><a th:href="@{${'/evento/'+evento.id}}" th:text="${evento.nome}"></a></li>
                        <li class="active text-uppercase" th:text="${atividade.nome}"></li>
                     </ol>
                  </div>
            <!-- /.breadcrumb -->
			
			<!-- /.page title -->
		</div>
		
		<div class="col-md-12">
			<!-- Conteudo principal -->
			
			<div class="white-box">
				
				<div class="col-md-12">
					<a class="btn  btn-rounded btn-success" th:href="@{${'/atividade/'+atividade.id+'/ver_participantes'}}" >Participantes</a>
					<a data-toggle="modal" data-target=".bs-example-modal-lg" class="model_img img-responsive btn btn-outline btn-rounded btn-info col-md-offset-4" >Gerar QRCode</a>
					<a class="btn btn-rounded  btn-info" th:href="@{${'/evento/lista_qrcode_atividade/'+atividade.id}}"  target="_blank">Imprimir QRCodes</a>
					<a class="btn  btn-rounded btn-inverse col-md-offset-3" th:href="@{${'/atividade/editar/'+atividade.id}}">Editar</a>
					<a class="sa-warning-atividade btn  btn-rounded btn-danger " th:value="@{'/atividade/excluir/'+${atividade.id}}">Excluir</a>				
					<hr/>
				</div>

				<div class="modal fade bs-example-modal-lg in" tabindex="-1"
					role="dialog" aria-labelledby="myLargeModalLabel"
					aria-hidden="true" style="display: NONE; padding-right: 15px;">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">×</button>
								<h4 class="modal-title" id="myLargeModalLabel" th:text="${atividade.nome}"></h4>
							</div>
							<div class="modal-body">
								
								
								<h2>Código de Checkin</h2>
								<div th:id="${'qrcode-checkin-'+atividade.id}" class="qrcode" th:attr="data-code=${atividade.codeCheckin},data-size=250" ></div>
								
								<span th:if="${atividade.tipo == T(br.ufc.npi.joyn.model.TiposAtividades).CHECKIN_CHECKOUT}">
									<h2>Código de Checkout</h2>
									<div th:id="${'qrcode-checkout-'+atividade.id}" class="qrcode" th:attr="data-code=${atividade.codeCheckout},data-size=250"></div>
								</span>
								
								

							</div>
							<div class="modal-footer">
								<button type="button"
									class="btn btn-danger waves-effect text-left"
									data-dismiss="modal">Fechar</button>
							</div>
						</div>
						/.modal-content
					</div>
					/.modal-dialog
				</div>

								

								

				<div class="col-md-12">
					<div class=" panel panel-info">
						<div class="panel-heading">
							Informações da Atividade: <span class="" th:text="${atividade.nome}"></span>
							<div class="pull-right">
								<a href="#" data-perform="panel-collapse"><i
									class="ti-minus"></i></a>
							</div>
						</div>
						<div class="panel-wrapper collapse in" aria-expanded="true">
							<div class="panel-wrapper collapse in">
								<table class="table table-hover">
									<thead>
									</thead>
									<tbody>
										<tr>
											<th>Descrição:</th>
											<td>
												<span th:text="${atividade.descricao}"></span>
											</td>
										</tr>
										<tr>
											<th>Evento:</th>
											<td><span th:text="${atividade.evento.nome}"></span></td>
										</tr>

										<tr>
											<th>Número de vagas:</th>
											<td><span th:text="${atividade.vagas}"></span></td>
										</tr>

										<tr>
											<th>Tipo de atividade:</th>
											<td><span th:text="${atividade.tipo}"></span></td>
										</tr>

										<tr>
											<th>Quantidade de Turnos:</th>
											<td><span th:text="${atividade.dias}"></span></td>
										</tr>

										<tr>
											<th>Mínimo para Frequência:</th>
											<td><span th:text="${atividade.minimoParaFreq}"></span></td>
										</tr>

										<tr>
											<th>Pontuação: </th>
											<td><span th:text="${atividade.pontuacao}"></span></td>
										</tr>

										<tr>
											<th>Status: </th>
											<td>
											    <h4 class="text-success" th:if="${atividade.status}">Atividade acessível ao público</h4>
												<h4 class="text-danger" th:unless="${atividade.status}">Atividade não acessível ao público</h4>	
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
   			</div>
			<!-- Fim do Conteudo principal -->
		</div>
	
	</div>
	</body>
</html>