<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">
	  
	<body>
	<div class="container-fluid" layout:fragment="conteudo">
		<div class="row bg-title">
			<!-- .page title -->
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title" th:text="${evento.nome}"></h4> <!-- Pode ser alterado -->
			</div>
			<!-- /.page title -->
		</div>
		
		<div class="col-md-12">
			<!-- Conteudo principal -->
			
			<div class="white-box">
				<h4> Data de Início: <span th:text="${#calendars.format(evento.dataInicio, 'dd/MM/yyyy')}"></span> </h4>
				<h4> Data de Término: <span th:text="${#calendars.format(evento.dataFim, 'dd/MM/yyyy')}"></span> </h4>
				<h4 th:if="${evento.status}">Evento acessível ao público</h4>
				<h4 th:unless="${evento.status}">Evento não acessível ao público</h4>
				
				<h4> Local: <span th:text="${evento.local}"></span></h4>
				<h4 th:if="${evento.gameficado}">É gameficado</h4>
				<h4 th:unless="${evento.gameficado}">Não é gameficado</h4>
				
				<h4> Número de vagas: <span th:text="${evento.vagas}"></span></h4>
				<h4> Porcentagem: <span th:text="${evento.porcentagemMin}"></span></h4>
				<h4> Descrição: <span th:text="${evento.descricao}"></span></h4>
				
				<div class="">
					<h2>Organizadores do Evento</h2>
					<table class="striped">
					  <thead>
					    <tr>
						<th>Nome</th>
						<th>Remover</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr  th:each="organizador : ${evento.participantes}" th:if="${organizador.papel == T(br.ufc.npi.joyn.model.Papel).ORGANIZADOR}">
							<td th:text="${organizador.usuario.nome}"></td>
							<td><a class="waves-effect waves-teal btn-flat red" href="#">Excluir</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<div class="">
					<h2>Atividades do Evento</h2>
					<table class="striped">
					  <thead>
					    <tr>
						<th>Nome</th>
						<th></th>
						<th>Remover</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr  th:each="atividade : ${evento.atividades}">
							<td th:text="${atividade.nome}"></td>
							<td><a class="waves-effect waves-teal btn-flat orange" href="#">Ver Detalhes</a></td>
							<td><a class="waves-effect waves-teal btn-flat red" href="#">Excluir</a></td>
					    </tr>
					  </tbody>
					</table>
					
					<a th:href="@{${'/evento/editar='+evento.id}}"> Editar Evento</a> 
				</div>
   			</div>
			<!-- Fim do Conteudo principal -->
		</div>
	</div>
	</body>
</html>