<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
	<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<title>Detalhes Evento</title>
	</head>
	<body>
	<div class="container">
		<div class="row valign-wrapper">
			<div class="col s12">
				<h2>Evento <span th:text="${evento.nome}"></span> </h2>
				<h5> Data de Início: <span th:text="${#calendars.format(evento.dataInicio, 'dd/MM/yyyy')}"></span> </h5>
				<h5> Data de Término: <span th:text="${#calendars.format(evento.dataFim, 'dd/MM/yyyy')}"></span> </h5>
				<h5> Status: <span th:text="${evento.status}"></span></h5>
				<h5> Local: <span th:text="${evento.local}"></span></h5>
				<h5> É gamificado: <span th:text="${evento.gameficado}"></span></h5>
				<h5> Número de vagas: <span th:text="${evento.vagas}"></span></h5>
				<h5> Descrição: <span th:text="${evento.descricao}"></span></h5>
			</div>
		</div>
		
		<div class="row">
			<a class="waves-effect waves-teal btn-large" href="#">Editar Evento</a>
		</div>
		<br/>
		<div class="row">
			<h4>Organizadores do Evento</h4>
			<table class="striped">
			  <thead>
			    <tr>
				<th>Nome</th>
				<th>Remover</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr  th:each="organizador : ${evento.participantes}" th:if="${organizador.papel == T(br.ufc.npi.joyn.model.Papel).ORGANIZADOR}">
					<td th:text="${organizador.usuario.nome}"></td>
					<td><a class="waves-effect waves-teal btn-flat" href="#">X</a></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<br/>
		<div class="row">
			<h4>Atividades do Evento</h4>
			<table class="striped">
			  <thead>
			    <tr>
				<th>Nome</th>
				<th>Detalhes</th>
				<th>Remover</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr  th:each="atividade : ${evento.atividades}">
					<td th:text="${atividade.nome}"></td>
					<td><a class="waves-effect waves-teal btn-flat" href="#">Ver Detalhes</a></td>
					<td><a class="waves-effect waves-teal btn-flat" href="#">X</a></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<br/>
		<div class="row">
			<h4>Participantes do Evento</h4>
			<table class="striped">
			  <thead>
			    <tr>
				<th>Nome</th>
				<th>Ranking</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr  th:each="participante : ${evento.participantes}" th:if="${participante.papel == T(br.ufc.npi.joyn.model.Papel).PARTICIPANTE}">
					<td th:text="${participante.usuario.nome}"></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		
		
		<!-- <form method="POST" th:object="${evento}">
			<div th:if="${#fields.hasAnyErrors()}">
				<div th:each="detailedError : ${#fields.detailedErrors()}">
					<span th:text="${detailedError.message}"></span>
				</div>
			</div> 
			
			<br/>
			
			Nome: <input th:field="*{nome}" type="text"/> <br/>
			Descrição: <input th:field="*{descricao}" type="text"/> <br/>
			Data de Início: <input th:field="*{dataInicio}" type="date"/> <br/>
			Data de Término: <input th:field="*{dataFim}" type="date"/> <br/>
			Número de vagas: <input th:field="*{vagas}" type="number"/> <br/>
			Local: <input th:field="*{local}" type="text"/> <br/>
			Gameficado: <input type="checkbox" th:field="*{gameficado}"/><br/>
			
			<button type="submit">Cadastrar</button> 
			
		</form> -->
		</div>
		<script src="/webjars/jquery/2.2.4/jquery.js"></script>
		<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
	</body>
</html>