<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">
<head>
	<title>Detalhes Evento</title>
</head>
<body>
	<div class="container-fluid" layout:fragment="conteudo">
		<div class="row bg-title">
			<!-- .page title -->
			
			<!-- .breadcrumb -->
                  <div class="col-lg-3 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/evento/meus_eventos">Meus Eventos</a></li>
                        <li class="active text-uppercase" th:text="${evento.nome}"></li>
                     </ol>
                  </div>
            <!-- /.breadcrumb -->
	
				<!-- Pode ser alterado -->
			<!-- /.page title -->
		</div>

		<div class="col-md-12">
			<!-- Conteudo principal -->

			<div class="white-box">

				<div class="col-md-12">
					<a href="#"	class="btn btn-outline btn-rounded btn-info ">Ranking</a>
					<a class="btn btn-outline btn-rounded btn-info " th:href="@{${'/evento/participantes_evento/'+evento.id}}">Participantes</a>
					<a class="btn btn-rounded btn-inverse col-md-offset-8" th:href="@{${'/evento/editar/'+evento.id}}">Editar</a>
					<hr/>
				</div>

				<div class="col-md-4">
					<div class=" panel panel-info">
						<div class="panel-heading">
							Informações do Evento
							<div class="pull-right">
								<a href="#" data-perform="panel-collapse"><i
									class="ti-minus"></i></a>
							</div>
						</div>
						<div class="panel-wrapper collapse in" aria-expanded="true">
							<div class="panel-wrapper collapse in">
								<table class="table table-hover">
									<thead>
									</thead>
									<tbody>
										<tr>
											<th>Status:</th>
											<td>
												<span th:if="${evento.status}">Evento acessível ao público</span>
												<span th:unless="${evento.status}">Evento não acessível ao público</span>
											</td>
										</tr>
										<tr>
											<th>Data de Início:</th>
											<td><span th:text="${#calendars.format(evento.dataInicio, 'dd/MM/yyyy')}"></span></td>
										</tr>

										<tr>
											<th>Data de Término:</th>
											<td><span th:text="${#calendars.format(evento.dataFim, 'dd/MM/yyyy')}"></span></td>
										</tr>

										<tr>
											<th>Local:</th>
											<td><span th:text="${evento.local}"></span></td>
										</tr>

										<tr>
											<th>Numero de vagas: </th>
											<td><span th:text="${evento.vagas}"></span></td>
										</tr>

										<tr>
											<th>Porcentagem: </th>
											<td><span th:text="${evento.porcentagemMin}"></span></td>
										</tr>

										<tr>
											<th>Descrição: </th>
											<td><span th:text="${evento.descricao}"></span></td>
										</tr>

										<tr>
											<th>Gameficado: </th>
											<td>
											    <span th:if="${evento.gameficado}">Evento gameficado </span>
												<span th:unless="${evento.gameficado}">Evento não gameficado </span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8">
					<div class="panel panel-primary lobipanel lobipanel-sortable">
						<div class="panel-heading">
							Organizadores
							<div class="pull-right">
								<a href="#" data-perform="panel-collapse"><i
									class="ti-minus"></i></a>
							</div>
						</div>
						<div class="panel-wrapper collapse in" aria-expanded="true">
							<div class="panel-wrapper collapse in">
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="text-center">
												<form method="POST" th:action="@{/evento/convidar}">
													<label for="emailOrg">Email</label> <input id="emailOrg"
														th:name="email" type="email" /> <input type="hidden"
														name="id" th:value="${evento.id}" /> <input type="hidden"
														th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
													<button
														class="fcbtn btn btn-primary btn-outline btn-1c btn-xs"
														type="submit">Convidar</button>
												</form>
											</th>

										</tr>
										<tr>
											<th>Nome</th>
											<th>Remover</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="organizador : ${evento.participantes}" th:if="${organizador.papel == T(br.ufc.npi.joyn.model.Papel).ORGANIZADOR}">
											<td th:text="${organizador.usuario.nome}"></td>
											<td th:if="${organizador.usuario.id != usuario.id}"><a class="btn btn-block btn-outline btn-rounded btn-primary btn-xs" th:href="@{${'/evento/excluir_organizador/'+organizador.id}}" onclick="return confirm('Tem certeza que deseja excluir esse organizador?')">Excluir</a></td>
											<td th:unless="${organizador.usuario.id != usuario.id}"><a class="btn btn-block btn-outline btn-rounded btn-primary btn-xs disabled">Excluir</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8">
					<div class="panel panel-success">
						<div class="panel-heading">
							Atividades do Evento
							<div class="pull-right">
								<a href="#" data-perform="panel-collapse"><i
									class="ti-minus"></i></a>
							</div>
						</div>
						<div class="panel-wrapper collapse in" aria-expanded="true">
							
							<div class="panel-wrapper collapse in">
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="col-md-6 col-md-offset-4">
												<a class="fcbtn btn btn-success btn-outline btn-1c btn-xs" type="submit" th:href="@{${'/atividade/'+evento.id+'/cadastrar'}}">Adicionar Atividades</a>
											</th>

										</tr>
										<tr>
											<th>Nome</th>
											<th>Detalhes</th>
											<th>Remover</th>
										</tr>
									</thead>
									<tbody >
										<tr th:each="atividade : ${evento.atividades}" >
											<td class="col-md-10" th:text="${atividade.nome}" ></td>
											<td><a class="btn btn-block btn-outline btn-rounded btn-success btn-xs" th:href="@{${'/atividade/'+atividade.id}}" >Ver Detalhes</a></td>
											<td><a class="btn btn-block btn-outline btn-rounded btn-success btn-xs img-responsive model_img" id="sa-warning" th:onclick="'javascript:teste(\'' + ${atividade.id} + '\');'">Excluir</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			
			</div>
			<!-- Fim do Conteudo principal -->
		</div>
			<!-- Sweet-Alert  -->
		
	</div>
	
</body>
</html>