<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">
	  
	<body>
	<div class="container-fluid" layout:fragment="conteudo">
		<div class="row bg-title">
			<!-- .page title -->
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title" th:text="${atividade.nome}"></h4> <!-- Pode ser alterado -->
			</div>
			<!-- /.page title -->
		</div>
		
		<div class="col-md-12">
			<!-- Conteudo principal -->
			
			<div class="white-box">
			
				<h4> Descrição: <span th:text="${atividade.descricao}"></span></h4>
				<h4> Evento: <span th:text="${atividade.evento.nome}"></span></h4>
				<h4> Número de vagas: <span th:text="${atividade.vagas}"></span></h4>
				<h4> Tipo de atividade: <span th:text="${atividade.tipo}"></span></h4>
				<h4> Quantidade de Turnos: <span th:text="${atividade.dias}"></span></h4>
				<h4> Mínimo para Frequência: <span th:text="${atividade.minimoParaFreq}"></span></h4>
				<h4> Pontuação: <span th:text="${atividade.pontuacao}"></span></h4>
				<h4 th:if="${atividade.status}">Atividade acessível ao público</h4>
				<h4 th:unless="${atividade.status}">Atividade não acessível ao público</h4>	
				
				<div class="">
					
					<h5><a href="#" >Participantes</a></h5>
					<h5><a th:href="@{${'/atividade/editar/'+atividade.id}}">Editar</a></h5>
					<h5><a th:href="@{${'/atividade/excluir/'+atividade.id}}" onclick="return confirm('Tem certeza que deseja excluir essa Atividade?')" >Excluir</a></h5>
				</div>
   			</div>
			<!-- Fim do Conteudo principal -->
		</div>
	</div>
	</body>
</html>