<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Cadastro Usuário</title>
	</head>
	<body>
		<h1>Cadastro</h1>
		<form method="POST" th:object="${usuario}" enctype="multipart/form-data">
		
			<div th:if="${#fields.hasAnyErrors()}">
				<div th:each="detailedError : ${#fields.detailedErrors()}">
					<span th:text="${detailedError.message}"></span>
				</div>
			</div> 
			
			<br/>
		
			Nome: <input th:field="*{nome}" type="text"/> <br/>
			Foto: <input name="imagem" type="file"/> <br/>
			Email: <input th:field="*{email}" type="text"/> <br/>
			Senha: <input th:field="*{senha}" type="password"/><br/>
			
			<button type="submit">Cadastrar</button> 
			
		</form>
	</body>
</html>