<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">
	  
<body>

<div class="container-fluid" layout:fragment="conteudo">
	<div class="row bg-title">
	<!-- .page title -->
		<!-- .breadcrumb -->
                  <div class="col-lg-5 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="/evento/meus_eventos">Meus Eventos</a></li>
                        <li><a th:href="@{${'/evento/'+atividade.evento.id}}" th:text="${atividade.evento.nome}"></a></li>
                        <li><a th:href="@{${'/atividade/'+atividade.id}}" th:text="${atividade.nome}"></a></li>
                        <li class="active text-uppercase">Participantes</li>
                     </ol>
                  </div>
            <!-- /.breadcrumb -->
	<!-- /.page title -->
	</div>
	
	<div class="col-md-12">
	<!-- Conteudo principal -->
		<div class="white-box">		
			
			<div class="col-md-12	">
					<div class="panel panel-success">
						<div class="panel-heading">
							Organizadores
							<div class="pull-right">
								<a href="#" data-perform="panel-collapse"><i
									class="ti-minus"></i></a>
							</div>
						</div>
						<div class="panel-wrapper collapse in" aria-expanded="true">
							
							<div class="panel-wrapper collapse in">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Foto</th>
											<th>Nome</th>
											<th>email</th>
											
										</tr>
									</thead>
									<tbody >
										<tr th:each="atividadeParticipante : ${atividade.participantes}" th:if="${atividadeParticipante.papel == T(br.ufc.npi.joyn.model.Papel).ORGANIZADOR}" >
											<td><img class="img-circle" alt="Foto" th:src="${atividadeParticipante.usuario.foto64}" height="50"></img> </td>
											<td th:text="${atividadeParticipante.usuario.nome}"></td>
											<td th:text="${atividadeParticipante.usuario.email}"></td>
											<td th:if="${atividadeParticipante.usuario.id != usuarioLogado.id}"><a class="btn btn-block btn-outline btn-rounded btn-success btn-xs" th:href="@{${'/atividade/excluir_participante/'+atividadeParticipante.id}}" onclick="return confirm('Tem certeza que deseja excluir esse organizador? \n\n Você será o novo organizador desta atividade.')">Excluir</a></td>
											<td th:unless="${atividadeParticipante.usuario.id != usuarioLogado.id}"><a class="btn btn-block btn-outline btn-rounded btn-success btn-xs disabled">Excluir</a></td>	

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			
		<div class="col-md-12	">
					<div class="panel panel-info">
						<div class="panel-heading">
							Participantes
							<div class="pull-right">
								<a href="#" data-perform="panel-collapse"><i
									class="ti-minus"></i></a>
							</div>
						</div>
						<div class="panel-wrapper collapse in" aria-expanded="true">
							
							<div class="panel-wrapper collapse in">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Foto</th>
											<th>Nome</th>
											<th>email</th>
											
										</tr>
									</thead>
									<tbody >
										<tr  th:each="atividadeParticipante : ${atividade.participantes}" th:if="${atividadeParticipante.papel == T(br.ufc.npi.joyn.model.Papel).PARTICIPANTE}">
											<td><img alt="Foto" th:src="${atividadeParticipante.usuario.foto64}" height="50"></img> </td>
											<td th:text="${atividadeParticipante.usuario.nome}"></td>
											<td th:text="${atividadeParticipante.usuario.email}"></td>
											<td><a class="btn btn-block btn-outline btn-rounded btn-info btn-xs" id="sa-warning-participante-atividadeb" th:value="${atividadeParticipante.id}">Excluir</a></td>
			   							 </tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
	    </div>
	<!-- Fim do Conteudo principal -->
	</div>
	
</div>


</body>
</html>