<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">
	  
	<body>
	<div class="container-fluid" layout:fragment="conteudo">
		<div class="row bg-title">
			<!-- .page title -->
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Participantes</h4> <!-- Pode ser alterado -->
			</div>
			<!-- /.page title -->
		</div>
		
		<div class="col-md-12">
			<!-- Conteudo principal -->
			
			<div class="white-box">
				<input type="hidden" value="th:text=${usuario}"/>
				
				<table class="striped">
				  <thead>
				    <tr>
					<th>Foto</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Excluir</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr  th:each="participante : ${participantes}">
						<td><img alt="Foto" th:src="${participante.usuario.fotoUrl}" height="80"/></td>
						<td th:text="${participante.usuario.nome}"></td>
						<td th:text="${participante.usuario.email}"></td>
						<td><a class="waves-effect waves-teal btn-flat red" th:href="@{${'/evento/excluir_participantes/'+participante.id}}" onclick="return confirm('Tem certeza que deseja excluir esse organizador?')">Excluir</a></td>
				    </tr>
				  </tbody>
				</table>
				<!-- Divida essas tabelas Rodrigo. Abaixo são organizadores, em cima os participantes! -->
				<table class="striped">
				  <thead>
				    <tr>
					<th>Foto</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Excluir</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr  th:each="organizador : ${organizadores}">
						<td><img alt="Foto" th:src="${organizador.usuario.fotoUrl}" height="80"/></td>
						<td th:text="${organizador.usuario.nome}"></td>
						<td th:text="${organizador.usuario.email}"></td>
						<td><a class="waves-effect waves-teal btn-flat red" th:href="@{${'/evento/excluir_participantes/'+organizador.id}}" onclick="return confirm('Tem certeza que deseja excluir esse organizador?')">Excluir</a></td>
				    </tr>
				  </tbody>
				</table>
			
   			</div>
			<!-- Fim do Conteudo principal -->
		</div>
	</div>
	</body>
</html>