<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">
	  
	<body>
	<div class="container-fluid" layout:fragment="conteudo">
		<div class="row bg-title">
			<!-- .page title -->
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Participantes</h4> <!-- Pode ser alterado -->
			</div>
			<!-- /.page title -->
		</div>
		
		<div class="col-md-12">
			<!-- Conteudo principal -->
			
			<div class="white-box">
				<input type="hidden" value="th:text=${usuario}"/>
				
				
				
					<div class="col-md-12	">
					<div class="panel panel-success">
						<div class="panel-heading">
							Organizadores
							<div class="pull-right">
								<a href="#" data-perform="panel-collapse"><i
									class="ti-minus"></i></a>
							</div>
						</div>
						<div class="panel-wrapper collapse in" aria-expanded="true">
							
							<div class="panel-wrapper collapse in">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Foto</th>
											<th>Nome</th>
											<th>email</th>
											
										</tr>
									</thead>
									<tbody >
										<tr  th:each="organizador : ${organizadores}" th:if="${organizador.papel == T(br.ufc.npi.joyn.model.Papel).ORGANIZADOR}">
											<td><img class="img-circle" alt="Foto" th:src="${organizador.usuario.foto64}" height="50"/></td>
											<td th:text="${organizador.usuario.nome}"></td>
											<td th:text="${organizador.usuario.email}"></td>
											<td th:if="${organizador.usuario.id != usuarioLogado.id}"><a class="btn btn-block btn-outline btn-rounded btn-success btn-xs" id="sa-warning-organizadorb" th:value="${organizador.id}">Excluir</a></td>
											<td th:unless="${organizador.usuario.id != usuarioLogado.id}"><a class="btn btn-block btn-outline btn-rounded btn-success btn-xs disabled">Excluir</a></td>
				    					</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			
		<div class="col-md-12	">
					<div class="panel panel-info">
						<div class="panel-heading">
							Participantes
							<div class="pull-right">
								<a href="#" data-perform="panel-collapse"><i
									class="ti-minus"></i></a>
							</div>
						</div>
						<div class="panel-wrapper collapse in" aria-expanded="true">
							
							<div class="panel-wrapper collapse in">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Foto</th>
											<th>Nome</th>
											<th>email</th>
											
										</tr>
									</thead>
									<tbody >
										<tr  th:each="participante : ${participantes}">
											<td><img class="img-circle" alt="Foto" th:src="${participante.usuario.foto64}" height="50"/></td>
											<td th:text="${participante.usuario.nome}"></td>
											<td th:text="${participante.usuario.email}"></td>
											<td><a class="waves-effect waves-teal btn-flat red" th:href="@{${'/evento/excluir_participantes/'+participante.id}}" id="sa-warning-participante" th:value="${organizador.id}">Excluir</a></td>
				   					 		</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			
   			</div>
			<!-- Fim do Conteudo principal -->
		</div>
	</div>
	</body>
</html>