<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">
	  
<body>

<div class="container-fluid" layout:fragment="conteudo">
				<div class="row bg-title">
					<!-- .page title -->
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Titulo da Página</h4> <!-- Pode ser alterado -->
					</div>
					<!-- /.page title -->
				</div>
				<div class="col-md-12">
			<!-- Conteudo principal -->
            <div class="white-box">
                
            </div>
            <!-- Fim do Conteudo principal -->
        </div>

			</div>


</body>
</html>